@import "utils";

.MovieInfo {
  position: absolute;
  width: 100%;
  height: calc(100vh - 5rem);
  padding: 2rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  -webkit-animation: movieInfo 0.3s ease-in;
  -moz-animation: movieInfo 0.3s ease-in;
  animation: movieInfo 0.3s ease-in;

  z-index: 30;

  @-webkit-keyframes movieInfo {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes movieInfo {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes movieInfo {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .background {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  .movie-info {
    opacity: 0.95;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: -3px 3px 20px black;

    @include media("<small") {
      flex-direction: column;
    }
    img {
      width: 27rem;
      height: 40rem;

      @include media("<large") {
        min-width: 15rem;
      }
      @include media("<small") {
        width: 10rem;
        height: 20rem;
      }
    }
    .info-box {
      display: flex;

      flex-direction: column;
      width: 35rem;
      height: 40rem;
      background-color: white;
      padding: 1rem;
      padding-bottom: 2rem;
      // overflow: hidden;
      overflow-y: scroll;
      @include media("<large") {
        min-width: 15rem;
      }

      @include media("<small") {
        width: 10rem;
        height: 13rem;
      }

      .close-button {
        display: flex;
        justify-content: flex-end;
        transition: 0.2s;

        &:hover {
          cursor: pointer;
          color: pink;
        }
      }

      .up-info {
        h2 {
          font-size: 3rem;
          padding: 0;
          margin: 0;
          margin-top: 1rem;

          @include media("<medium") {
            font-size: 2rem;
          }
          @include media("<small") {
            font-size: 1.3rem;
          }
        }
        .tagline {
          font-weight: 600;
          font-size: 1.2rem;
          color: steelblue;
          padding: 0;
          margin-top: 0.5rem;
        }
        .overview {
          line-height: 25px;
        }
      }
      .down-info {
        margin: 0;
        margin-top: 2rem;
        padding: 0;
        .genres {
          color: steelblue;
          font-size: 1.7rem;
          letter-spacing: -2px;
          margin: 0;
          padding: 0;

          @include media("<large") {
            font-size: 1.2rem;
          }

          @include media("<medium") {
            font-size: 1rem;
          }
        }
        .company {
          letter-spacing: -1px;
          margin: 0;
          margin-bottom: 2rem;
          padding: 0;
        }
        .number-box {
          display: flex;
          justify-content: space-between;

          div {
            p {
              margin: 0;
              padding: 0;

              @include media("<medium") {
                font-size: 0.5rem;
              }
            }
            p:nth-child(2) {
              margin: 0;
              padding: 0;
              color: steelblue;
              font-size: 1.7rem;
              font-weight: 300;
              letter-spacing: -2px;

              @include media("<large") {
                font-size: 1.2rem;
              }

              @include media("<medium") {
                font-size: 1rem;
              }
            }
          }
          div + div {
            margin-left: 1rem;
          }
        }
      }
    }

    @include media("<large") {
      width: 70%;
    }
  }
}
