.MovieList {
  position: absolute;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  width: 100%;

  z-index: 10;

  .list {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40rem;
    border-radius: 7rem;
    padding: 0.5rem;
    padding-left: 2rem;
    border: 0.3px solid whitesmoke;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.3s;

    img {
      width: 5rem;
    }
    .movie-info {
      width: 20rem;
      margin: 1rem;
    }
    &:hover {
      transform: scale(1.1);
    }
  }
  .list + .list {
    margin-top: 1rem;
  }
}
